body {margin:0;}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* style voor language switch */
.navbar img {
  width: 1.5em;
  float: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.navbar .lang {
  font-weight: bold; 
  padding-bottom: 2.4em; /* zorgen dat hij tegen de rand aanloopt */
}
.navbar .lang p {
  font-weight: bold;
  float: left;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar .active {
  background-color: #04AA6D;
}

.navbar .name {
  float: left;
}

.introduction {
   background-image: url(../images/background_introduction.jpg);
    background-size: cover;
    height: 40em;
    padding-bottom: 20%;
}

.personapic {
  width: 10%;
  aspect-ratio: 1/1;
  margin-top: 10%;
  margin-left: 15%;
  border-radius: 50%;
  float: left;
}

.introduction h1 {
  color: #0d0d0d;
  text-align: center;
  padding-top: 10%;
    padding-right: 30%;
}

.introduction h2 {
    color: rgb(0, 0, 0);
    text-align: center;
  }

.Highlight {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    padding-bottom: 10%;
}

.Highlight h1 {
    color: black;
    text-align: center;
    background-color: rgb(72, 125, 129);
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1%;
    border: #0d0d0d;
    border-radius: 10px;
    font-weight: bold;
    
}

.Highlight h2 {
    color: black;
    text-align: center;
}

.Highlight img {
    width: 30%;
    margin-left: 15%;
    float: left;
    padding-right: 5%;
    padding-bottom: 1%;
}

.resume {
    text-align: center;
    margin-top: -2em;
}

.box {
  position: relative;
  float: left;
  width: 30%;
  margin-left: 1.6%;
  margin-right: 1.6%;
  height: 20em;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3em;
  overflow: hidden;
  margin-bottom: 3em;
}

.box img#Texel{
  width: 110%;
  margin-top: -10em;
}

.box img#Vleermuis{
  width: 150%;
  margin-top: -3em;
  margin-left: -3em;

}

.box img#Portfolio{
  width: 140%;
  margin-left: -6em;
}

.box img:hover{
  opacity: 0.2;
}

.box .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #535b5e;
}

.box:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  text-align: center;
}

.text#Texel {
  left: 38%;
  top: 40%;
}

.text#Vleermuis {
  left: 30%;
  top: 40%;
}

.text#Portfolio {
  left: 38%;
  top: 40%;
}