body {margin:0;}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar .active {
  background-color: #04AA6D;
}

.navbar .name {
  float: left;
}

.introduction {
   background-image: url(../images/background_introduction.jpg);
    background-size: cover;
    height: 40em;
    padding-bottom: 20%;
}

.personapic {
  width: 10%;
  aspect-ratio: 1/1;
  margin-top: 10%;
  margin-left: 15%;
  border-radius: 50%;
  float: left;
}

.introduction h1 {
  color: #0d0d0d;
  text-align: center;
  padding-top: 10%;
    padding-right: 30%;
}

.introduction h2 {
    color: rgb(0, 0, 0);
    text-align: center;
  }

.Highlight {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    padding-bottom: 10%;
}

.Highlight h1 {
    color: black;
    text-align: center;
    background-color: rgb(72, 125, 129);
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1%;
    border: #0d0d0d;
    border-radius: 10px;
    font-weight: bold;
    
}

.Highlight h2 {
    color: black;
    text-align: center;
}

.Highlight img {
    width: 30%;
    margin-left: 15%;
    float: left;
    padding-right: 5%;
    padding-bottom: 1%;
}


.resume {
    text-align: center;
    margin-top: -2em;
}